<template>
  <div class="header">
    <div v-show="showTopLinks" class="header-top">
      <div class="container m-auto">
        <ul class="links">
          <li
            v-for="link in topLinks"
            :key="link.id"
            class="link"
          >
            <nuxt-link :to="link.to">
              {{ link.label }}
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-content container">
      <img src="~/assets/img/header-logo.svg" alt="Logo">
      <primary-button
        :icon="{ name: 'menu' }"
        class="catalogue-button"
        @click="toggleDrawer"
      >
        Каталог
      </primary-button>
      <search-bar
        v-show="showCatalogueSearchAndShoppingBagButton"
        class="search"
      />
      <ul
        v-show="showCatalogueLinks"
        class="links"
      >
        <li
          v-for="link in headerLinks"
          :key="link.id"
          class="link"
        >
          <base-icon :name="link.icon" color="black" class="icon" />
          <div class="label">
            {{ link.label }}
          </div>
        </li>
      </ul>
      <primary-button
        v-show="showCatalogueSearchAndShoppingBagButton"
        :icon="{ name: 'shopping-bag', color: '#ff172c' }"
        outlined
        no-label
      />
    </div>
    <div
      v-show="showHeaderDrawer"
      class="header-drawer"
      :class="drawerClass"
    >
      <div
        class="drawer-wrapper"
      >
        <div
          class="drawer-content"
          :class="drawerContentClass"
        >
          <ul
            v-show="!showCatalogueLinks"
            class="links"
          >
            <li
              v-show="!showCatalogueSearchAndShoppingBagButton"
              class="top-item"
            >
              <search-bar
                class="search"
              />
              <primary-button
                :icon="{ name: 'shopping-bag', color: '#ff172c' }"
                outlined
                no-label
              />
            </li>
            <li
              v-for="link in headerLinks"
              :key="link.id"
              class="link"
            >
              <base-icon :name="link.icon" size="2rem" color="black" class="icon" />
              <div class="label">
                {{ link.label }}
              </div>
            </li>
          </ul>
          <ul
            v-show="!showTopLinks"
            class="bottom-links"
          >
            <li
              v-for="link in topLinks"
              :key="link.id"
              class="link"
            >
              <nuxt-link :to="link.to">
                {{ link.label }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({
  watch: {
    clientWidth: {
      immediate: true,
      handler (value) {
        this.$data.showHeaderDrawer = value <= 1280
        this.$data.showCatalogueLinks = value >= 1280
        this.$data.showTopLinks = value >= 1280
        this.$data.showCatalogueSearchAndShoppingBagButton = value >= 768
      }
    }
  }
})
export default class Header extends mixins(TypedStoreMixin) {
  data () {
    return {
      clientWidth: process.client && window.innerWidth,
      topLinks: [
        { id: 0, label: 'Акции', to: '#' },
        { id: 1, label: 'Продукция', to: '#' },
        { id: 2, label: 'Доставка', to: '#' },
        { id: 3, label: 'Контакты', to: '#' },
        { id: 4, label: 'Обратная связь', to: '#' },

      ],
      headerLinks: [
        { id: 0, label: 'Подбор постера', icon: 'select-poster' },
        { id: 1, label: 'Случайный постер', icon: 'random-poster' },
        { id: 2, label: 'Мои постеры', icon: 'add' }
      ],
      drawerOpened: false,
      showHeaderDrawer: process.client && window.innerWidth <= 1280,
      showCatalogueLinks: process.client && window.innerWidth >= 1280,
      showTopLinks: process.client && window.innerWidth >= 1280,
      showCatalogueSearchAndShoppingBagButton: process.client && window.innerWidth >= 768,
    }
  }

  onResize () {
    this.$data.clientWidth = window.innerWidth
  }

  toggleDrawer () {
    if (this.$data.clientWidth < 1280) {
      this.$data.drawerOpened = !this.$data.drawerOpened
      return this.$data.drawerOpened
    }

    this.$data.drawerOpened = false
    return this.$data.drawerOpened
  }

  get drawerClass () {
    return { 'header-drawer-active': this.$data.drawerOpened }
  }

  get drawerContentClass () {
    return { 'drawer-content-active': this.$data.drawerOpened }
  }

  mounted () {
    this.onResize()
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  }

  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/css/media';

.header {
  @apply relative;

  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 5px;

  .header-top {
    @apply relative;
    @apply z-20;

    height: 30px;
    background-color: #222;

    .links {
      @apply flex;
      @apply items-center;
      @apply gap-10;
      @apply justify-end;

      .link {
        color: white;
      }
    }
  }

  .header-content {
    @apply relative;
    @apply flex;
    @apply items-center;
    @apply gap-10;
    @apply z-20;

    max-width: 1440px;
    height: 90px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    .search {
      flex: 1 0 auto;
    }

    .links {
      @apply flex;
      @apply items-center;

      .link {
        @apply flex;
        @apply items-center;
        @apply gap-2;
        @apply px-4;
        @apply h-8;
        @apply cursor-pointer;

        border-left: 1px solid #000;

        &:last-child {
          border-right: 1px solid #000;
        }
      }
    }
  }

  .header-drawer {
    @apply fixed;
    @apply flex;
    @apply justify-center;
    @apply z-0;

    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 1 0 auto;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear;
    opacity: 0;

    &-active {
      opacity: 1;
    }

    .drawer-wrapper {
      @apply relative;
      @apply flex;
      @apply flex-grow;
      @apply flex-col;

      .drawer-content {
        @apply relative;
        @apply z-10;

        background-color: #fff;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 5px;
        transition: all 0.3s linear;
        top: -50%;

        &-active {
          top: 0;
        }

        .links {
          @apply flex;
          @apply flex-col;
          @apply justify-center;
          @apply p-4;

          .top-item {
            @apply flex;
            @apply items-center;

            .search {
              @apply flex-grow;
            }
          }

          .link {
            @apply flex;
            @apply items-center;
            @apply gap-4;
            @apply px-4;
            @apply h-16;
            @apply cursor-pointer;

            .label {
              font-size: 1.5rem;
            }
          }
        }

        .bottom-links {
          @apply grid;
          @apply grid-rows-1;
          @apply grid-cols-5;
          @apply gap-5;
          @apply p-4;

          background-color: #222;

          .link {
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .header {
    .header-content {
      @apply p-4;
      @apply gap-5;
    }
  }
}

@media screen and (max-width: 1280px) {
  .header {
    .header-content {
      @apply justify-between;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-drawer {
      .drawer-wrapper {
        .drawer-content {
          .bottom-links {
            @apply grid-cols-1;
          }
        }
      }
    }
  }
}
</style>
