<template>
  <svg width="18" height="16" viewBox="0 0 18 16" :fill="color" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H18V2H0V0ZM0 7H12V9H0V7ZM0 14H18V16H0V14Z" :fill="color" />
  </svg>
</template>

<script lang="ts">
import Component from 'nuxt-class-component'
import { Vue } from 'vue-property-decorator'

@Component({
  props: {
    color: {
      type: String,
      default: 'none',
      required: false
    }
  }
})
export default class IconMenu extends Vue {}
</script>
