<template>
  <svg width="24" height="24" viewBox="0 0 24 24" :fill="color" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.121 9.87896C18.417 14.174 20.95 18.607 19.778 19.779C19.303 20.253 18.292 20.119 16.971 19.506C15.3824 20.5567 13.5016 21.0768 11.5989 20.9916C9.69614 20.9065 7.86936 20.2204 6.38098 19.032L6.34298 19.072L4.92898 17.657L4.96698 17.617C3.77924 16.1288 3.09374 14.3024 3.00894 12.4002C2.92414 10.4981 3.44439 8.61795 4.49498 7.02996C3.88098 5.70796 3.74698 4.69696 4.22198 4.22196C5.34998 3.09396 9.49898 5.39896 13.639 9.40396L14.121 9.87896ZM12.707 11.293C10.823 9.40896 8.86998 7.84196 7.23598 6.86996L7.04998 7.04996C5.85991 8.24036 5.13849 9.81962 5.01784 11.4985C4.89718 13.1774 5.38536 14.8436 6.39298 16.192L8.23898 14.346C8.12512 13.9208 8.15472 13.4699 8.32319 13.0632C8.49166 12.6565 8.78958 12.3168 9.17076 12.0967C9.55195 11.8766 9.9951 11.7883 10.4315 11.8457C10.868 11.9031 11.2733 12.1028 11.5846 12.4139C11.896 12.7251 12.096 13.1303 12.1537 13.5666C12.2113 14.003 12.1234 14.4462 11.9036 14.8276C11.6837 15.2089 11.3442 15.5071 10.9377 15.6758C10.5311 15.8446 10.0803 15.8745 9.65498 15.761L7.80698 17.607C9.15539 18.6149 10.8218 19.1032 12.5009 18.9825C14.1801 18.8619 15.7595 18.1403 16.95 16.95L17.129 16.762L17.076 16.673C16.1 15.058 14.556 13.143 12.707 11.293ZM19.778 4.22196C19.9769 4.4208 20.1317 4.65937 20.2322 4.92208C20.3327 5.1848 20.3766 5.46576 20.3611 5.74661C20.3456 6.02747 20.2711 6.3019 20.1424 6.55198C20.0136 6.80207 19.8336 7.02219 19.614 7.19796C20.3909 8.43172 20.857 9.83551 20.9723 11.289C21.0876 12.7424 20.8487 14.2021 20.276 15.543C19.8633 14.7457 19.4004 13.9755 18.89 13.237C19.0904 12.1257 19.0186 10.9824 18.6808 9.90491C18.3429 8.82743 17.749 7.84784 16.95 7.04996C16.152 6.25104 15.1724 5.65727 14.095 5.31942C13.0175 4.98158 11.8743 4.90971 10.763 5.10996C10.0246 4.59936 9.25436 4.13641 8.45698 3.72396C9.79817 3.15114 11.2583 2.91222 12.7121 3.0277C14.1659 3.14318 15.57 3.6096 16.804 4.38696C16.9797 4.16762 17.1996 3.98777 17.4495 3.85914C17.6994 3.7305 17.9735 3.65597 18.2541 3.64041C18.5347 3.62484 18.8155 3.66858 19.078 3.76878C19.3406 3.86899 19.5791 4.0234 19.778 4.22196Z" :fill="color"/>
  </svg>
</template>

<script lang="ts">
import Component from 'nuxt-class-component'
import { Vue } from 'vue-property-decorator'

@Component({
  props: {
    color: {
      type: String,
      default: 'none',
      required: false
    }
  }
})
export default class IconAdd extends Vue {}
</script>
