<template>
  <button
    :class="buttonClass"
    v-on="$listeners"
  >
    <div v-if="!noLabel" class="label">
      <slot></slot>
    </div>
    <slot name="icon">
      <base-icon :name="icon.name" :color="icon.color" />
    </slot>
  </button>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({
  props: {
    icon: {
      type: Object,
      default: {
        name: 'add',
        color: 'white'
      },
      required: false
    },
    noLabel: {
      type: Boolean,
      default: false,
      required: false
    },
    outlined: {
      type: Boolean,
      default: false,
      required: false
    }
  }
})
export default class PrimaryButton extends mixins(TypedStoreMixin) {
  get buttonClass () {
    return {
      'p-button': !this.$props.outlined,
      'p-button-outlined': this.$props.outlined
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

.p-button {
  @apply flex;
  @apply items-center;
  @apply gap-4;
  @apply p-4;

  border-radius: 4px;
  padding: 20px 24px;
  background-color: $color-primary;
  color: white;
}

.p-button-outlined {
  @apply flex;
  @apply items-center;
  @apply gap-4;
  @apply p-4;

  border-radius: 4px;
  border: 2px solid $color-primary;
  background-color: white;
  color: $color-primary;
}
</style>
