<template>
  <label>
    <input type="text" placeholder="Поиск постеров">
    <div class="icon">
      <base-icon name="search" color="#000000" />
    </div>
  </label>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({
  data: () => ({
    iconColor: 'none'
  })
})
export default class SearchBar extends mixins(TypedStoreMixin) {

}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

label {
  @apply flex;
  @apply items-center;

  input {
    @apply flex-1;
    @apply p-5;

    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .icon {
    position: relative;
    left: -44px;
  }
}
</style>
