//@media screen and (min-width: 240px) {
//  .container {
//    max-width: 240px;
//  }
//}
//
//@media screen and (min-width: 360px) {
//  .container {
//    max-width: 360px;
//  }
//}
//
//@media screen and (min-width: 480px) {
//  .container {
//    max-width: 480px;
//  }
//}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
