<template>
  <component
    :is="iconComponent"
    :color="color"
    :style="{ width: size, height: size }"
    role="img"
  />
</template>

<script>
const icons = {
  add: () => import('../icons/add.vue'),
  menu: () => import('../icons/menu.vue'),
  'random-poster': () => import('../icons/random-poster.vue'),
  search: () => import('../icons/search.vue'),
  'select-poster': () => import('../icons/select-poster.vue'),
  'shopping-bag': () => import('../icons/shopping-bag.vue')
}

export default {
  props: {
    name: {
      type: String,
      required: true,
      validator (value) {
        return Object.prototype.hasOwnProperty.call(icons, value)
      }
    },
    color: {
      type: String,
      required: false,
      default: 'white'
    },
    size: {
      type: String,
      required: false,
      default: '1.25rem'
    }
  },
  computed: {
    iconComponent () {
      return icons[this.name]
    }
  }
}
</script>
