<template>
  <div>
    <div>
      <Header />
    </div>
    <div>
      <Nuxt />
    </div>
  </div>
</template>

<script>
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '@/mixins/typed-store'

import Header from '@/components/header/header'

@Component({
  components: {
    Header
  }
})
export default class MainLayout extends mixins(TypedStoreMixin) {}
</script>
