<template>
  <div class="container">container</div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '@/mixins/typed-store'

@Component({})
export default class Index extends mixins(TypedStoreMixin) {}
</script>

